/* styles.css */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(96, 166, 176)
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1, h2 {
    color:rgb(62, 51, 76);
}


h1 {
    text-align: center;
    margin-top: 100px;
    border: 5px solid black;
    width: 400px;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    border: 2px solid black;
    padding: 10px;
    width: 700px;
    text-align: center;

}

.recipe {
    display: flex;
    justify-content: space-between;
    height: 400px;
    flex: 1 1 0%;
}


.steps {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.ingredients-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}


